<div class="cats col-md-12">
<% @cats.each do |c| %>
      <div class="cat col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="small-circle">
          <a href="/cats/<%= c.id %>"><img src="<%= c.img.gsub("_b", "_m") %>"></a>
        </div>
        <h2><%= c.name %></h2>
        <%  c.tags.each do |tag| %>
          <%= link_to tag.name, cattag_path(tag.name), :class => 'btn btn-default btn-xs' %>
        <% end %>
      </div>
<% end %>
</div>
