<div class="col-md-offset-2 col-md-8">

<h1>Your barista today: Adrienne!</h1>
<h4>She is working at the Cat Cafe while studying web development.</h4>

<div style="background-color: pink;">
<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $3.50</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Purrchase a Coffee"
          data-amount="350"></script>
<% end %>
</div>

</h5>(You are purchasing access to a page with an image of a coffee on it.)<h5>
<h3>Thanks for your support!</h3>

</div>

