<h4>Thanks, you paid $3.50 (real money) to see this page!</h4><br>
<h2>Enjoy your virtual coffee!</h2><br>
<h4>(You will not be able to revisit this page.)</h4><br>

<img src="http://neiviv.olympe.in/ico/coffee.png">
